
.page-header{
    height: 1000px;
    padding-top: 40px;
    margin-bottom: 40px;
    
    background: 
    linear-gradient(to top,rgba( 252, 227, 138, 1 ), rgba( 243, 129, 129, 0.8 ) ), 
    url(../img/bg-header-min.jpg) 
    no-repeat center;
    color: $text-color-white;
    
}






