
.page-header{
    height: 1000px;
    padding-top: 40px;
    margin-bottom: 40px;
    
    background: 
    -webkit-gradient(linear,left bottom, left top,from(rgba( 252, 227, 138, 1 )), to(rgba( 243, 129, 129, 0.8 )) ), 
    url(../img/bg-header-min.jpg) no-repeat center;
    
    background: 
    -webkit-linear-gradient(bottom,rgba( 252, 227, 138, 1 ), rgba( 243, 129, 129, 0.8 ) ), 
    url(../img/bg-header-min.jpg) no-repeat center;
    
    background: 
    -o-linear-gradient(bottom,rgba( 252, 227, 138, 1 ), rgba( 243, 129, 129, 0.8 ) ), 
    url(../img/bg-header-min.jpg) no-repeat center;
    
    background: 
    linear-gradient(to top,rgba( 252, 227, 138, 1 ), rgba( 243, 129, 129, 0.8 ) ), 
    url(../img/bg-header-min.jpg) no-repeat center;
    color: $text-color-header;
    
}






