
.page-footer{
    width: 1200px;
    height: 60px;
    border-top: 1px solid #E5E5E5; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    margin: 0px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.page-footer__text{
    font-family: 'Montserrat', sans-serif;
    color: #323232;
}
.page-footer__text > span{
    color: #F28080;
}

.page-footer__form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
}
.page-footer__input{
    padding: 0px;
    margin: 0px;
    width: 230px;
    height: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #E5E5E5;
}

.page-footer__input::-webkit-input-placeholder{
    color: #E5E5E5;
    font-style: italic;
}

.page-footer__input:-ms-input-placeholder{
    color: #E5E5E5;
    font-style: italic;
}

.page-footer__input::-ms-input-placeholder{
    color: #E5E5E5;
    font-style: italic;
}

.page-footer__input::placeholder{
    color: #E5E5E5;
    font-style: italic;
}




.button__subscribe {
    height: 40px;
    width: 150px;
    background: #95E1D3;  
}