body { 
    padding: 0;
    margin: 0;
    font: 300 15px 'Roboto', "sans serif";
    line-height: 1;
    color: #989898;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix::after{
    clear: both;
    content: '';
    display: table;
}
.img{
    display: block;
    min-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.link{
    display: inline-block;
    text-decoration: none; 
}

.title{
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    text-align: center;
}

.button{
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    display: block;
    text-transform: uppercase;
    color: #fff;
    font: 700 14px 'Montserrat', sans-serif;
}

