
.page-header{
    height: 1000px;
    padding-top: 40px;
    margin-bottom: 40px;
    
    background: 
    -webkit-gradient(linear,left bottom, left top,from(rgba( 252, 227, 138, 1 )), to(rgba( 243, 129, 129, 0.8 )) ), 
    url(../img/bg-header-min.jpg) no-repeat center;
    
    background: 
    -webkit-linear-gradient(bottom,rgba( 252, 227, 138, 1 ), rgba( 243, 129, 129, 0.8 ) ), 
    url(../img/bg-header-min.jpg) no-repeat center;
    
    background: 
    -o-linear-gradient(bottom,rgba( 252, 227, 138, 1 ), rgba( 243, 129, 129, 0.8 ) ), 
    url(../img/bg-header-min.jpg) no-repeat center;
    
    background: 
    linear-gradient(to top,rgba( 252, 227, 138, 1 ), rgba( 243, 129, 129, 0.8 ) ), 
    url(../img/bg-header-min.jpg) no-repeat center;
    color: #fff;
    
}

/* site-nav */
.site-nav {
    max-width: 1200px; 
    margin: 0 auto;
    margin-bottom: 170px;
       
}
.site-nav__link{
    padding: 0px 0px 10px 0;
    color: #fff;
    font: 400 15px 'Montserrat', sans-serif;
    text-transform: uppercase;
    -webkit-transition: color 0.1s linear, border 0.1s linear;
    -o-transition: color 0.1s linear, border 0.1s linear;
    transition: color 0.1s linear, border 0.1s linear;
}

.site-nav__link:hover{
    color: #FBE28B;
    border-bottom: 3px solid #FBE28B;
}
.site-nav__list{
    width: 50%;
}
.site-nav__icon{
    width: 20px;
    height:20px;
    fill: #fff;
    
}
.site-nav__icon:hover{
    fill: #FBE28B;
}
.page-logo{
    color: #fff;
    font: 700 30px 'Montserrat', sans-serif;
}

/* title */

.page-header__title{
    font: 800 150px 'Montserrat', sans-serif;
    max-width: 850px;
    margin: 0 auto;
    line-height: 1;
    margin-bottom: 75px;
}
.page-header__title::before{
    content: "Creative Template";
    font: 400 72px 'Kaushan Script', 'cursive';
    text-transform: none;
    margin-bottom: 63px;
    display: block;
}

.button__learnMore{
    margin: 0 auto;
    height: 40px;
    width: 160px;
    border: 3px solid #fff;
}





