.page-footer__form{
    display: flex;
    align-items: center;    
}
.page-footer__input{
    padding: 0px;
    margin: 0px;
    width: 230px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid $footer-border-color;
}

.page-footer__input::placeholder{
    color: $footer-border-color;
    font-style: italic;
}

.button__subscribe {
    @extend %button;
    height: 40px;
    width: 150px;
    background: #95E1D3;  
}