$text-color-white:#fff;
$text-color-primary: #989898;
$text-color-title-section:#323232;
$bg-color-link:  #FCE38A;
$bg-color-link-hover: #F38181;
$footer-border-color: #E5E5E5;

$bg-gradient:linear-gradient( rgba(243, 130, 129, 0.9 ), rgba(252, 226, 138, 0.95) );

$icons: alarm, graph, computer, book, home, last;